<!doctype html>
<html>
<head>
  <title>Our Game</title>
</head>
<body>
    Play our game!<br><br>
    <form action="/madlib">
        Give us a adjective: <input type="text" name="adj"><br>
        Give us a pronoun: <input type="text" name="pro"><br>
        Give us a noun: <input type="text" name="noun"><br>
        Give us a second adjective: <input type="text" name="adj2"><br>
        Give us a second noun: <input type="text" name="noun2"><br>
        Give us a past-tense verb: <input type="text" name="verb"><br>
        <input type="submit">        
    </form>
</body>
</html>